.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  /* padding: 1rem 2rem; */
}

.buttons-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.container button {
  padding: 1rem 2rem;
  border: 1px solid rgb(245, 245, 245);
  background-color: transparent;
  border-radius: 1rem;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.container .buttons-container button + button {
  margin-top: 1rem;
}

.container .buttons-container button:hover {
  transition: all 0.3s ease-in-out;
  color: rgb(18, 18, 18);
  background-color: rgb(245, 245, 245);
}

.container .buttons-container p {
  margin: 1em 0 0 0;
  height: 1em;
}
